html,
body {
  margin: 0;
  padding: 0;
}
.m-5 {
  margin-bottom: 5px;
}
@each $margin in $margins {
  .m-#{$margin} {
    margin-bottom: $margin;
  }
}

@each $key, $value in $font-weights {
  .font-#{$key} {
    font-weight: $value;
  }
}


@each $name, $color in $colors {
  .text-#{$name} {
    color: $color;
  }
}
@each $name,$color in $colors{
.bg-#{$name}{
  background-color: $color;
}
}