@mixin btn-custom($color: #bbb) {
  border: 1px solid rgb(255, 255, 255);
  background-color: $color;
  color: #fff;
  box-shadow: 0 2px 10px -1px rgba($color, 0.66);
}

.btn-primary {
  @include btn-custom($color:$primary);
}
.btn-success {
  @include btn-custom($color: rgb(9, 79, 47));
}
.btn-info {
  @include btn-custom($color: rgb(9, 79, 78));
}
.btn-danger {
  @include btn-custom($color: rgb(223, 57, 19));
}

.btn-blue-light {
  @include btn-custom($color: $blue-light);
}
.btn-lg {
    padding: 10px;
}