@use 'sass:color';
@use 'sass:math';
@import 'sass/variables';
@import 'sass/base';
@import 'sass/buttons';
.myclass {
  padding: $padding-sm;
}

.p-sm {
  padding: $padding-sm;
}

.bg-red {
  background-color: $collor-red;
}
.text-red {
  color: $collor-red;
}
.parinte{
  background-color: aqua;
  .copil{
    background-color: red;
  }
}
