html,
body {
  margin: 0;
  padding: 0;
}

.m-5 {
  margin-bottom: 5px;
}

.m-5px {
  margin-bottom: 5px;
}

.m-10px {
  margin-bottom: 10px;
}

.m-20px {
  margin-bottom: 20px;
}

.m-30px {
  margin-bottom: 30px;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.text-primary {
  color: #326dee;
}

.text-secondary {
  color: #1ac886;
}

.text-error {
  color: #d32752;
}

.text-info {
  color: #f6c31c;
}

.text-blue {
  color: #1919e6;
}

.text-red {
  color: #e61919;
}

.text-yellow {
  color: #e6e619;
}

.text-green {
  color: #19e635;
}

.text-orange {
  color: #ffa600;
}

.text-purple {
  color: #9900ff;
}

.text-gray {
  color: #808080;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.bg-primary {
  background-color: #326dee;
}

.bg-secondary {
  background-color: #1ac886;
}

.bg-error {
  background-color: #d32752;
}

.bg-info {
  background-color: #f6c31c;
}

.bg-blue {
  background-color: #1919e6;
}

.bg-red {
  background-color: #e61919;
}

.bg-yellow {
  background-color: #e6e619;
}

.bg-green {
  background-color: #19e635;
}

.bg-orange {
  background-color: #ffa600;
}

.bg-purple {
  background-color: #9900ff;
}

.bg-gray {
  background-color: #808080;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.btn-primary {
  border: 1px solid rgb(255, 255, 255);
  background-color: #326dee;
  color: #fff;
  box-shadow: 0 2px 10px -1px rgba(50, 109, 238, 0.66);
}

.btn-success {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(9, 79, 47);
  color: #fff;
  box-shadow: 0 2px 10px -1px rgba(9, 79, 47, 0.66);
}

.btn-info {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(9, 79, 78);
  color: #fff;
  box-shadow: 0 2px 10px -1px rgba(9, 79, 78, 0.66);
}

.btn-danger {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(223, 57, 19);
  color: #fff;
  box-shadow: 0 2px 10px -1px rgba(223, 57, 19, 0.66);
}

.btn-blue-light {
  border: 1px solid rgb(255, 255, 255);
  background-color: #5b8af1;
  color: #fff;
  box-shadow: 0 2px 10px -1px rgba(91, 138, 241, 0.66);
}

.btn-lg {
  padding: 10px;
}

.myclass {
  padding: 25px;
}

.p-sm {
  padding: 25px;
}

.bg-red {
  background-color: rgb(225, 98, 98);
}

.text-red {
  color: rgb(225, 98, 98);
}

.parinte {
  background-color: aqua;
}
.parinte .copil {
  background-color: red;
}

/*# sourceMappingURL=main.css.map */
